.header {
  height: 190px;
  background-color: #a9a9a9;
  text-decoration: none;
  color: #ffffff;
  /* flexbox container */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px;
}
.header > .nav-bar {
  /* Flex box container */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.header > .nav-bar > .nav-link {
  height: 40px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #757575;
  color:#ffffff;
  font-size: 0.9em;
  border: 1px solid #757575;
  border-radius: 2px;  
}
.header > .nav-bar > .nav-link a {
  text-decoration: none;
  color: #ffffff;
}
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #757575;
}
.page-identifier {
  width: 300px;
  text-align: left;
}
.contact-info {
  width:300px;
  text-align: right;
}